@page "/ajuda"
@model NerdCoffeeAdmin.Pages.HelpModel
@{
}

<h1 class="h2">Solicitar Ajuda</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <p>Bem-vindo ao nosso centro de ajuda! Se você estiver enfrentando algum problema com nosso site, siga as etapas abaixo:</p>
        <ol>
            <li>Consulte nossas <a href="#">Perguntas Frequentes</a> para encontrar respostas para perguntas comuns.</li>
            <li>Se você não encontrar uma solução, por favor, <a href="#">entre em contato com nossa equipe de suporte</a>.</li>
            <li>Fornecer informações detalhadas sobre o problema que você está enfrentando para nos ajudar a ajudá-lo melhor.</li>
        </ol>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Contatar o Suporte
            </div>
            <div class="card-body">
                <h5 class="card-title">Enviar uma Solicitação de Suporte</h5>
                <p class="card-text">Se você não encontrou uma solução em nossas Perguntas Frequentes, sinta-se à vontade para entrar em contato com nossa equipe de suporte para obter assistência.</p>
                <a href="#" class="btn btn-primary">Contatar Suporte</a>
            </div>
        </div>
    </div>
</div>
